<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header>
    <nav class="nav__link">
        <a href="/">Главная</a>
        <a href="/report">Отчеты</a>
    </nav>
</header>
<main>
    <h1>Загрузите APK-файл для анализа</h1>
    <form class="form__upload" method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Загрузить и анализировать</button>
    </form>
    <!-- Сообщение об успехе или ошибке -->
    <p th:if="${message}" th:text="${message}" class="message"></p>

    <h2>Результаты анализа</h2>
    <table>
        <thead>
        <tr>
            <th>ID анализа</th>
            <th>ID отчета</th>
            <th>Детали анализа уязвимостей</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result : ${results}">
            <td th:text="${result.id}"></td>
            <td th:text="${result.reportId}"></td>
            <td th:text="${result.groupedDetails}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>

</html>
