<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Вход</h1>
<form th:action="@{/login}" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password">
    <br>
    <button type="submit">Войти</button>
</form>
<div>
    <a th:href="@{/register}">Регистрация</a>
</div>
</body>
</html>
