<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body-login">
<div class="auth-container">
    <h1 class="auth-title">Вход</h1>
    <form th:action="@{/login}" method="post" class="auth-form">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" class="input-field">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" class="input-field">
        <button type="submit" class="auth-button">Войти</button>
    </form>
    <div class="auth-link">
        <a th:href="@{/register}">Регистрация</a>
    </div>
</div>
</body>
</html>