<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Отчеты анализа</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header>
    <nav class="nav__link">
        <a href="/">Главная</a>
        <a href="/report">Отчеты</a>
    </nav>
</header>
<main>
    <h1>Отчеты анализа</h1>
    <table>
        <thead>
        <tr>
            <th>Имя файла</th>
            <th>Дата анализа</th>
            <th>Статус</th>
            <th>Ссылка на отчет</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${reports}">
            <td th:text="${report.apkName}"></td>
            <td th:text="${formattedDate}"></td>
            <td th:text="${report.status}"></td>
            <td>
                <a th:href="@{/reports/{path}(path=${#strings.replace(report.reportPath, 'reports/', '')})}"
                   th:if="${report.reportPath}" target="_blank">Скачать</a>
                <span th:if="${!report.reportPath}">Недоступен</span>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>

</html>
